.pricing-page .card {
  border-radius: 10px;
}

.card-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.list-unstyled li {
  font-size: 16px;
  margin-bottom: 6px;
}

.table thead th {
  vertical-align: middle;
}

.accordion-button {
  cursor: pointer;
}
